<ion-view view-title="Account">
<ion-content>


<div class="card">
  <div class="item item-text-wrap">
    <label>Full name</label>
    <h2>Christopher Droom</h2>
  </div>

  <div class="item item-text-wrap">
    <label>Company Name</label>
    <h2>Fixie Lott</h2>
  </div>

  <div class="item item-text-wrap">
    <label>Address</label>
    <h2>36 NORHYRST AVENUE</h2>
  </div>

  <div class="item item-text-wrap">
    <label>Phone Number</label>
    <h2>02087715635</h2>
  </div>

  <div class="item item-text-wrap">
    <label>Website</label>
    <h2>droom.name</h2>
  </div>

  <div class="item item-text-wrap">
    <label>Company registration number</label>
    <h2>C12341-22</h2>
  </div>

  <div class="item item-text-wrap">
    <label>GST registration number</label>
    <h2>GST-2341</h2>
  </div>

</div>


</ion-content>
</ion-view>
