<ion-view view-title="Create a new receipt">
<ion-content class="padding receipt-new">

<h5>Product details</h5>

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Product Name</span>
    <input type="text" placeholder="Product Name">
  </label>
  <div class="row">
    <div class="col">
      <label class="item item-input">
        <input type="number" placeholder="Price">
      </label>
    </div>
    <div class="col">
      <label class="item item-input">
        <input type="number" placeholder="Quantity">
      </label>
    </div>
  </div>
  <li class="item item-checkbox">
   <label class="checkbox">
     <input type="checkbox">
   </label>
   Include GST?
 </li>
</div>

<h5>Recipient details</h5>

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="Full Name">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Company</span>
    <input type="text" placeholder="Company">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email">
  </label>
</div>

<button class="button button-calm button-full">
  Create
</button>

</ion-content>
</ion-view>
