<ion-view view-title="Welcome to GiveReceipt" hide-nav-bar="true">
<ion-content class="gate padding">

<img src="img/gr-logo-white.svg" class="logo">

<ion-slide-box on-slide-changed="slideHasChanged($index)">
<ion-slide>
<div class="box blue">




  <div class="card">

    <h4>Sign In</h4>

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>

    <button class="button button-light center">
      Sign in with email
    </button>


  </div>


  <div class="card">


  <button class="button button-positive center">
    Continue with Facebook
  </button>
  </div>


</div>
</ion-slide>
<ion-slide>


<div class="box yellow">


  <div class="card">

  <h4>Sign Up</h4>

    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Email address">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Password">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Retype Password">
      </label>



  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     I agree to the Terms and Conditions
   </li>



    </div>



   <button class="button button-light center">
    Register
  </button>


  </div>






</div>
</ion-slide>

</ion-slide-box>

</ion-content>
</ion-view>
